## What's the most expensive listing? What else can you tell me about the listing?

select
	l.id,
	l.name,
	l.neighbourhood,
	l.price,
	r.comments
from
	listings l
join
	reviews_2 r
on
	l.id = r.listing_id
order by
	price desc
    
**The most expensive listing is a basement apartment in the Roosevelt neighborhood that goes for $1000 a night. It has only been reviewed once, but the review is very favorable. According to the review, the basement has a lot of light and there are heated floors in the bathroom.**

## What neighborhoods seem to be the most popular?

select
	neighbourhood,
	count(*) id
from
	listings
group by
	neighbourhood
order by
	id desc
    
**Broadway (397), Belltown (234), and Wallingford (167) are the most popular neighborhoods.**

## What time of year is the cheapest time to go to your city? What about the busiest?

    
WITH cost
AS (
SELECT
		price,
		date 
	FROM
		calendar
	where
		price != ''
	GROUP BY
		date
)
	
SELECT
	price,
	date
FROM 
	cost
GROUP BY 
	price

**The cheapest time of year to visit Seattle is the last part of July into the first part of August, where rooms go for as little as $65.00.**


WITH 
	availability
AS (
	SELECT 
		date,
		available
	FROM 
		calendar
	where
		available = 'f'
	GROUP BY
		date
)

SELECT 
	date,
	count (*) available
FROM 
	availability
ORDER BY
	available desc
    
    
**The busiest time of year to visit Seattle is around New Years. There were 365 rooms booked on January 2nd.**