### Decision Tree

In [1]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
flights = pd.read_csv('flights.csv')

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
list(flights)

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'FLIGHT_NUMBER',
 'TAIL_NUMBER',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DEPARTURE_TIME',
 'DEPARTURE_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY']

In [5]:
columns = ['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'CANCELLED']
flights = flights[columns]

In [6]:
flights.dropna(axis=1)
flights.head()

   YEAR  MONTH  DAY  DAY_OF_WEEK  CANCELLED
0  2015      1    1            4          0
1  2015      1    1            4          0
2  2015      1    1            4          0
3  2015      1    1            4          0
4  2015      1    1            4          0

In [7]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

X = np.array(flights.drop(['CANCELLED'], 1))
y = np.array(flights['CANCELLED'])

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
from sklearn.model_selection import cross_val_score
from datetime import datetime
start=datetime.now()


# Initialize and train our tree.
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=1,
    max_depth=4,
    random_state = 1337
)

print(cross_val_score(decision_tree, X, y, cv=15))
#decision_tree.fit(X_train, y_train)

print(datetime.now()-start)

[ 0.98455173  0.98455173  0.98455173  0.98455173  0.98455427  0.98455423
  0.94215055  0.98455423  0.94210673  0.98455423  0.98455423  0.98455423
  0.98455423  0.98455423  0.98455423]
0:00:31.231145

In [ ]:
# y_pred_en = decision_tree.predict(X_test)
# y_pred_en

In [ ]:
# print("Accuracy is ", accuracy_score(y_test,y_pred_en)*100)

### Random Forest

In [10]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
start=datetime.now()

rfc = ensemble.RandomForestClassifier()

print(cross_val_score(rfc, X, y, cv=15))
print(datetime.now()-start)

[ 0.76811363  0.19601743  0.03278342  0.02601691  0.03466009  0.04058896
  0.06213106  0.00924117  0.03153854  0.02397033  0.0319948   0.0551583
  0.58003599  0.98455423  0.30186267]
0:05:37.695880

### Conclusion

The Decision Tree model runs in about 1/10th the time of the Random Forest, and in this case, has much better accuracy.